.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.edu{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.6rem;
    border: 1px solid #fafafa;
    padding: 1rem;
    gap: 1rem;
}
.row contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.contain{
    width: 39%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 1.7rem;
}
