 /* Estilos para centrar la tarjeta */
 #inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 2rem;
}

/* Estilos para la tarjeta */
.tarjeta{
  
    border: none;
 
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transiciones de efecto de zoom y fade */   
}

/* Estilo para hacer el zoom inicial */
.zoomed {
    transform: scale(1.2); /* Efecto de zoom */
}

/* Estilo para hacer el fade out */
.fade-out {
    opacity: 0;
}

.tarjeta-body {
    text-align: center;
}
.tarjeta-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.tarjeta-text{
    padding: .5rem;
    line-height: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.tarjeta-title{
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
}